/* importing font from google */
@import url('https://fonts.googleapis.com/css?family=Cairo|Concert+One|Roboto|Spartan&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #dcd6f7;
}
main {
  width: 80%;
  margin: auto;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 70%;
  display: block;
  margin: auto;
}

h1 {
  font-size: 3rem;
  font-family: 'Concert One', cursive;
}

/* -------shadow animation------- */
h2 {
  font-family: 'Roboto', sans-serif;
  background: #424874;
  color: #dcd6f7;
  padding: 20px;
  text-align: left;
  font-weight: 600;
  animation-name: animate;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  text-transform: uppercase;
}
@keyframes animate {
  0%,
  100% {
    text-shadow: 0 0 30px red;
  }
  25% {
    text-shadow: 0 0 30px orange;
  }
  50% {
    text-shadow: 0 0 30px forestgreen;
  }
  75% {
    text-shadow: 0 0 30px cyan;
  }
}

h3 {
  color: #f4eeff;
}
/* ----------------------floating section------------------ */
/*float the cards  */
#grid-floats .grid-item {
  float: left;
}
/* fix the collapse section using pseudo*/
#grid-floats:after {
  content: ' ';
  display: block;
  clear: both;
}

/* card styling */

.grid-item {
  width: calc(25% - 20px);
  height: 400px;
  margin: 10px;
  background-color: #a6b1e1;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: relative;
}

/* styling para and position them to the bottom of the card  */

.grid-item p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-family: 'Spartan', sans-serif;
  text-align: justify;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 10px;
  font-size: 13px;
  transition: 0.5s ease;
}
.grid-item p:hover {
  font-size: 15px;
}

/* arabic para  */

#grid-floats .grid-item:nth-child(2) p {
  direction: rtl;
  text-align: justify;
  font-family: 'Cairo', sans-serif;
}

/* spand the first card */
.grid-item:first-child {
  width: calc(50% - 20px);
}

/* -------------------flex section --------------- */

#grid-flex {
  display: flex;
  flex-wrap: wrap;
}

/*----------------- media queries ---------------- */

/* tablet and ipad */

@media (min-width: 601px) and (max-width: 1024px) {
  .grid-item:nth-child(2) {
    width: calc(50% - 20px);
  }
  .grid-item {
    width: calc(33% - 20px);
  }
}

/*  phones */

@media (max-width: 600px) {
  .grid-item {
    width: 100%;
  }
  .grid-item:first-child {
    width: 100%;
  }
  h2 {
    text-align: center;
  }
}
